@CHARSET "UTF-8";
/********************************************************************************************/
/*                     Tag List                                                             */
/********************************************************************************************/

.tagcloud{color:#ccc;font-family:'돋움',dotum;font-size:12px;line-height:2;text-align:justify}  

.tagcloud a{color:#7c8a8d;text-decoration:none;}  

.tagcloud a:hover{background-color:#8A8A8A;color:#FBD54F}  

.tagcloud a em{color:#7DA2EC;font-family:'돋움',dotum;font-size:15px;font-weight:bold;letter-spacing:-1px;}  

.tagcloud a:hover em{background-color:#8A8A8A;color:#FBD54F}  

.tagcloud a strong{color:#9D81E9;font-family:'돋움',dotum;font-size:18px;font-weight:bold;letter-spacing:-1px}  

.tagcloud a:hover strong{background-color:#8A8A8A;color:#FBD54F}  

.tagcloud a strong em{background-color:#2FD3E1;color:ffffff;font-family:'돋움',dotum;font-size:20px;font-weight:bold;letter-spacing:-1px}  

.tagcloud a:hover strong em{background-color:#8A8A8A;color:#FBD54F}