@charset "utf-8";
/* Type Selector */

* {
	margin:0;
	padding:0;
	font-family:"돋움", Dotum, "굴림", Gulim, AppleGothic, Sans-serif;
	font-size:12px;
	color:#333333;
}
img, fieldset, button {
	border:none;
}
hr, button img {
	display:none;
}
li {
	list-style:none;
}
a {
	text-decoration:none;
}
a:hover, a:active, a:focus {
	text-decoration:none;
}
fieldset, img {
	border: 0 none;
}
body, html {
	padding:0;
	margin:0;
	width:100%;
}
.wrap {
	padding: 0px;
	width:100%;
}
#leftsec {
	width:225px;
	padding:10px;
}
#centersec {
	padding-top:10px;
	width:auto;
}
#rightsec {
	width:225px;
	padding:10px;
}
.userinfo {
	padding:0 5px;
}
.boldfont {
	font-weight:bold;
}
.11font {
	font-size::10px;

}
.9999font {
	color:#226094;
	font-size::12px;
	text-align:left;
	font-weight:bold;
}
.999font {
	color:#999999;
	font-size::11px;
}
.999fontleft {
	color:#999999;
	font-size::11px;
	padding-left:10px;
}
.monthfont {
	color:#235273;
font-size::11px;
	text-align:center;
	font-weight:bold;
}
.tblbusi {
	text-align:center;
}
.tblbusi td {
	background:url(../images/main/tblBG1.gif);
}
.bg2 {
	background:url(../images/main/tblBG2.gif);
}
.padding10 {
	padding:10px;
}
.padding19 {
	padding:19px;
}
