<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<!-- db log ++ -->
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="true">
	<appender name="CONSOLE-debug" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%p - %C{1}  :  %M  %m %n"/>
		</layout>
	</appender>
	
	<appender name="CONSOLE-info" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m ---%d %n"/>
		</layout>
	</appender>
	
	<appender name="LOGFILE-DAILY" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="${catalina.home}/logs/uengine/uengine.log"/>
        <param name="Append" value="true"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%t] %-17c{2} (%13F:%L) - %m%n"/>
        </layout>
    </appender>
    <!--
    - LOG Level :  OFF > FATAL > ERROR > WARN > INFO > DEBUG > TRACE > ALL
       + Threshold 를 OFF 로 해버리면 해당 Appender 에서는 아무것도 출력이 안된다.
    -->
	<!-- 
	- AppenderSkeleton
       + Threshold  : 이 AppenderSkeleton 클래스에는 중요한 옵신이 하나 있는데, 바로 Threshold 이다. 
                         이 Threshold은 어떠한 Appender에도 쓸 수 있는 공통 옵션이라고 보면 된다. 
                         이 Threshold 옵션이 하는 역할은 지정한 레벨 미만의 로그 이벤트를 무시하는것이다. 
                         즉, 아래처럼 INFO로 설정하면 INFO 이상의 레벨만 출력이 되는것이다.
	-->
	<appender name="LOGFILE-SIZE" class="org.apache.log4j.RollingFileAppender">
	    <param name="Threshold" value="TRACE"/>
		<param name="File" value="${catalina.home}/logs/uengine/uengine-size.log"/>
		<param name="Append" value="true"/>
		<param name="MaxFileSize" value="100KB"/>
		<param name="MaxBackupIndex" value="5"/>  
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p [%t] %-17c{2} (%13F:%L) %3x - %m%n"/>
		</layout>
	</appender>
	
	<appender name="LOGFILE-XML" class="org.apache.log4j.FileAppender">
		<param name="File" value="${catalina.home}/logs/uengine/uengine-xml.log"/>
		<param name="Append" value="true"/>
		<layout class="org.apache.log4j.xml.XMLLayout"/>
	</appender>
	
	<logger name="org.uengine" additivity="false">
		<level value="DEBUG"/>
		<appender-ref ref="CONSOLE-debug"/>
		<appender-ref ref="LOGFILE-DAILY"/>
	</logger>
	
	<root>
		<level value="DEBUG" />
		<appender-ref ref="CONSOLE-debug"/>
		<appender-ref ref="LOGFILE-DAILY"/>
	</root>
</log4j:configuration>