body{
	scrollbar-face-color:#a5a5a5;
	scrollbar-highlight-color: #f0f0f0;
	scrollbar-3dlight-color: #DDDDDD;
	scrollbar-shadow-color: #f0f0f0;
	scrollbar-darkshadow-color: #DDDDDD;
	scrollbar-track-color: #e8e8e8;
	scrollbar-arrow-color: #f0f0f0;
	line-height:18px;
}
body {margin:0;padding:0;}
img {border:none;selector-dummy: expression(this.hideFocus=true);}
td		{color:#303030; font-family:"돋움", "MS Gothic"; font-size:9pt;line-height:18px;font-size: 12px;font-weight: ;word-break:break-all;word-spacing:0mm}
select, input, textarea	{
	color:#303030;
	background-color:expression((this.type=='checkbox'||this.type=='radio'||this.type=='image')? '' : '#fdfdff');
	border:expression((this.type=='checkbox'||this.type=='radio'||this.type=='image')? '' : '1px solid #c0c0c0');
	font-family: Verdana, "돋움";
	font-size: 11px;
	font-weight: ;
	selector-dummy: expression(this.hideFocus=true);
}

pre {
	font-family: Verdana, "돋움";
	font-size: 11px;
	font-weight: ;
}

a:link  		{color:#303030; font-family:"돋움"; font-size:9pt; text-decoration:none;font-size: 12px;selector-dummy: expression(this.hideFocus=true);}
a:visited    {color:#303030; font-family:"돋움"; font-size:9pt; text-decoration:none;font-size: 12px;selector-dummy: expression(this.hideFocus=true);}
a:active     {color:#000000; font-family:"돋움"; font-size:9pt; text-decoration:none;font-size: 12px;selector-dummy: expression(this.hideFocus=true);}
a:hover      {color:#000000; font-family:"돋움"; font-size:9pt; text-decoration:underline position: relative; left: 3px; top: 3px;font-size: 12px;}


           /* 돋움폰트 11 색상유 */
.dotum 		{font-family: "돋움", "Verdana"; font-size: 11px; line-height: 16px; color: #303030; text-decoration:none;}
.dotum:link 	{font-family: "돋움", "Verdana"; font-size: 11px; line-height: 16px; color:#303030; text-decoration:none;}
.dotum:visited 	{font-family: "돋움", "Verdana"; font-size: 11px; line-height: 16px; color: #303030; text-decoration:none;}
.dotum:active 	{font-family: "돋움", "Verdana"; font-size: 11px; line-height: 16px; color: #303030; text-decoration:none;}
.dotum:hover 	{font-family: "돋움", "Verdana"; font-size: 11px; line-height: 16px; color: #303030; text-decoration:none;font-weight:;}

.line01 {
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #DDDDDD;
	padding: 4px;
}

.a_mid{text-align:center;}
.a_right{text-align:right;}

.fs14 {font-family: "돋움", "Verdana";font-size: 14px;font-weight: bold;}
.input03 {border: 1px solid #CAE0FB;background-color: #E6F0FC;font-family: "돋움", "Verdana";height: auto;font-size: 11px;color: #3A6699;height:20px;}
.no {	border: none;}

/*전체테이블 스타일*/
.tb01 {width:1005px;}
.fr01 {width:100%;margin:5px 0 15px 0;border:0;cellpadding:0;cellspacing:0}
.fr02 {margin:5px 0 15px 0;border:0;cellpadding:0;cellspacing:0}
.pops {width:800px;}
.org_fr01 {width:146px}
.org_fr02 {width:10px}

/*이미지포함 테이블색상*/
.tbg01_old {background-image: url(../../images/tbg01.gif);background-repeat: repeat-x;padding:6 0 4 0;font-weight:bold;color:#ffffff;text-align:center}
.tbg01 {background-image: url(../../images/tbg03.gif);background-repeat: repeat-x;padding:6 0 4 0;font-weight:bold;color:#02407e;text-align:center}
.tbg02 {background-color:bed794;height:3}
.tbg03 {background-image: url(../../images/tbg03.gif);background-repeat: repeat-x;padding:6 0 4 0;font-weight:bold;color:#02407e;text-align:center}
.tbg04 {background-image: url(../../images/tbg04.gif);background-repeat: repeat-x;padding:6 0 4 0;font-weight:bold;color:#0a69ad;text-align:center}
.tbg05 {background-image: url(../../images/tbg05.gif);background-repeat: repeat-x;padding:6 0 4 0;font-weight:bold;color:#3353a4;text-align:center}
.tbg07 {background-image: url(../../images/tbg07.gif);background-repeat: repeat-x;padding:6 0 4 0;font-weight:bold;color:#006f73;text-align:center}
.dot01 {background-image: url(../../images/dot01.gif);background-repeat: repeat-x;height:1px}

/*테이블색상*/
.bg_blue01 {background-color:4d96d6};
.bg_blue02 {background-color:e2f0ff;text-align:center;font-size:11px};
.bg_gray01 {background-color:e7e7e7};
.bg_gray02 {background-color:f7f7f7;text-align:center;font-size:11px};
.bg_wt {background-color:ffffff;padding:0 0 0 10};
.bg_wtg {background-color:f7f7f7;padding:0 0 0 10};
.bg_wtb {background-color:e2f0ff;padding:0 0 0 10};
.bg_wtc {background-color:ffffff;padding:0 0 0 0;text-align:center};

/*폰트색상*/
.b {font-weight: bold;}
.f01, .f01 a:link, .f01 a:hover, .f01 a:visited, a.f01, a.f01:link, a.f01:hover, a.f01:visited {font-family: "돋움", "Verdana";font-size: 12px;color:016fcf;}
.f02, .f02 a:link, .f02 a:hover, .f02 a:visited, a.f02, a.f02:link, a.f02:hover, a.f02:visited {font-family: "돋움", "Verdana";font-size: 12px;color:009d92;font-weight:bold}
.f03, .f03 a:link, .f03 a:hover, .f03 a:visited, a.f03, a.f03:link, a.f03:hover, a.f03:visited {font-family: "돋움", "Verdana";font-size: 12px;color:509701;font-weight:bold}
.f04, .f04 a:link, .f04 a:hover, .f04 a:visited, a.f04, a.f04:link, a.f04:hover, a.f04:visited {font-family: "돋움", "Verdana";font-size: 12px;color:f7941d;font-weight:bold}
.f05, .f05 a:link, .f05 a:hover, .f05 a:visited, a.f05, a.f05:link, a.f05:hover, a.f05:visited {font-family: "돋움", "Verdana";font-size: 12px;color:004a80;font-weight:bold}
.f06, .f06 a:link, .f06 a:hover, .f06 a:visited, a.f06, a.f06:link, a.f06:hover, a.f06:visited {font-family: "돋움", "Verdana";font-size: 12px;color:448cca;font-weight:bold}
.f07, .f07 a:link, .f07 a:hover, .f07 a:visited, a.f07, a.f07:link, a.f07:hover, a.f07:visited {font-family: "돋움", "Verdana";font-size: 11px;color:004a80;font-weight:bold} 
.f08, .f08 a:link, .f08 a:hover, .f08 a:visited, a.f08, a.f08:link, a.f08:hover, a.f08:visited {font-family: "돋움", "Verdana";font-size: 12px;color:ffffff;font-weight:bold;padding:2 0 0 0} 
.f09, .f09 a:link, .f09 a:hover, .f09 a:visited, a.f09, a.f09:link, a.f09:hover, a.f09:visited {font-family: "돋움", "Verdana";font-size: 11px;color:fa641c;font-weight:bold} 


/* 돋움폰트 11 색상유 */
.lf01 		{font-family: "돋움", "Verdana"; font-size: 11px; line-height: 16px; color: #555555; text-decoration:none;}
.lf01:link 	{font-family: "돋움", "Verdana"; font-size: 11px; line-height: 16px; color:#555555; text-decoration:none;}
.lf01:visited 	{font-family: "돋움", "Verdana"; font-size: 11px; line-height: 16px; color: #555555; text-decoration:none;}
.lf01:active 	{font-family: "돋움", "Verdana"; font-size: 11px; line-height: 16px; color: #555555; text-decoration:none;}
.lf01:hover 	{font-family: "돋움", "Verdana"; font-size: 11px; line-height: 16px; color: #555555; text-decoration:none;font-weight:bold;}

/*보더스타일*/
.bd01 {border: 1px solid #d7d7d7; padding:4px;background-color:#ffffff;margin:5px 0 5px 0;};
.bd_org01 {border: 3px solid #cae4fa; padding:4;background-color:#e6f3ff;font-size:14px;font-weight:bold;color:0159a5;};
.bd_org02 {border: 2px solid #e7e7e7; padding:4;background-color:#f7f7f7;};
.bd_org03 {border: 2px solid #e7e7e7; padding:4;background-color:#ffffff;};
.bd_org04 {border: 1px solid #e7e7e7; padding:3;background-color:#ffffff;line-height:15px;};
.bd_pop01 {border: 2px solid #e7e7e7; padding:10;background-color:#ffffff;};
.bd_pop02 {border: 3px solid #e9edf2; padding:2;background-color:#ffffff;};
.bd_f01 {font-size:12px;font-weight:bold;color:176195;text-align:center}
.bd_f02 {font-size:12px;font-weight:;color:1b6dc1;text-align:center}
.bd_ln01 {width:100%; height:1px;}

/*텍스트 에리어 */
.tx_org01 {width:100%; height:135px;font-size:11px}

/*패딩*/
.padt4 {padding:4 0 0 0;}


/*마진*/
.mgtb10 {margin:10 0 10 0;}
.mgb5 {margin:0 0 5 0;}
.mgb10 {margin:0 0 10 0;}
.mgb15 {margin:0 0 15 0;}
.mgb20 {margin:0 0 20 0;}
.mg01 {margin:10 0 25 0;}
.ml27 {margin:0 0 0 27;}

/*넓이*/
.wd01 {width:85px}
.wd02 {width:160px}
.wd03 {width:230px}
.wd04 {width:405px}

/*테이블디자인*/
.ta_td01 {background-color: #E9F6FF; color:0067A9;font-weight:bold;padding:2};
.ta_td02 {background-color: #0067A9; height:3px};
.ta_td03 {background-color: #e7e7e7; height:3px};
.ta_td04 {background-color: #dcf8fb; color:1d9cbb;font-weight:bold;padding:2};
.ta_td05 {background-color: #e5f9f7; color:0eb7a9;font-weight:bold;padding:2};
.ta_td06 {background-color: #f1fce1; color:6fa723;font-weight:bold;padding:2};
.ta_td07 {background-color: #ebfdfc; color:00736a;font-weight:bold;padding:2;font-size:14px};
.ta_td08 {background-color: #f5f5f5; color:333333;font-weight:;padding:2 2 2 7;font-size:11px};

/*레이어디자인*/
.up{position:absolute; width:15; height:15; z-index:1;}
.sm01{
	position:absolute;
	top:25px;
	z-index:1;
	visibility: hidden;
}


/* 유관재 추가 */
.tbg08 {background-color:#bed794;height:1}

.bg_blue03 {background-color:e2f0ff;text-align:center;font-size:12px;};
.bg_blue04 {background-color:e2f0ff;};
.bg_blue05 {background-color:e2f0ff;font-size:12px;padding:0 5 0 0;};
.bg_gray03 {background-color:f7f7f7;};
.bg_gray04 {background-color:fbfbfb;};
.bg_green01 {background-color:#e8f5d5;};
.bg_green02 {background-color:#d8e8c0;};
.bg_wt01 {background-color:ffffff;};
.bg_wt02 {background-color:ffffff;padding:0 5 0 0;};

.f_blue {color:blue;}
.f_red {color:red;}

.padr05 {padding:0 5 0 0;}
.padr10 {padding:0 10 0 0;}
.padl25 {padding:0 0 0 25;}

.ta_td09 {background-color: #ebfdfc; color:00736a;font-weight:bold;padding:2;font-size:12px};

.bd_xls {border: 3px solid #73B2B4; padding:4;background-color:#ffffff;font-size:12px;font-weight:bold;color:0159a5;}
/* end 유관재 추가 */


/* 박진근 추가 */
.bd_yell01 {border: 3px solid #cae4fa; padding:4;background-color:#ffff00;font-size:14px;font-weight:bold;color:0159a5;};
.bd_red01 {border: 3px solid #cae4fa; padding:4;background-color:#ff0100;font-size:14px;font-weight:bold;color:0159a5;};
.bd_gre01 {border: 3px solid #cae4fa; padding:4;background-color:#00ff00;font-size:14px;font-weight:bold;color:0159a5;};
/* end 유관재 추가 */


/* 김경민 추가 */
.fb_01 {font-size:13;}
/* end 김경민 추가 */

/* 장일영 추가 */
.tit01 {font-size:13px;font-weight:bold;color:#000000};
.tit02 {font-size:13px;color:#000000};
.mainTd01 {background-color:#f7f7f7;}
.mainTd02 {background-color:#f1f1f7;}

/* 돋움폰트 11 색상유  f26522 047a7e*/
.lf02 		{background-color:#f1f1f7;1font-family: "윤고딕","고딕", "굴림"; font-size: 11px; line-height: 16px; color: #047a7e; text-decoration:none;font-weight:bold;}
.lf02:link 	{background-color:#f1f1f1; font-family: "윤고딕","고딕", "굴림"; font-size: 11px; line-height: 16px; color:#047a7e; text-decoration:none;font-weight:bold;}
.lf02:visited 	{background-color:#f1f1f1; font-family: "윤고딕","고딕", "굴림"; font-size: 11px; line-height: 16px; color: #047a7e; text-decoration:none;font-weight:bold;}
.lf02:active 	{background-color:#f1f1f1; font-family: "윤고딕","고딕", "굴림", "Verdana"; font-size: 11px; line-height: 16px; color: #047a7e; text-decoration:none;font-weight:bold;}
.lf02:hover 	{background-color:#f7f7f7; font-family: "윤고딕","고딕", "굴림", "Verdana"; font-size: 11px; line-height: 16px; color: #f26522; text-decoration:none;font-weight:bold;}
