a {
    color:#000;
}

#inner-details {
    font-size:0.8em;
    list-style:none;
    margin:7px;
	color:#000;
}

#infovis {
	background-color:#FFF;
	color:#000;
    width:100%;
    height:100%;
    margin:auto;
    overflow:hidden;
	border:#CCC 1px solid;
}